.link {
    text-decoration: none;
}

.list {
    list-style-type: none;
}

button {
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
     margin-top: 0;
     margin-bottom: 0;
}

ul,ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

body {
    font-family: Roboto, sans-serif;
    background: var(--white, #FFF);
    color: #434455;
}

.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* PAGE HEADER */

.page-header {
    border-bottom: 1px solid #e7e9fc
}

.page-header-container {
    display: flex;
}

.page-nav{
    display: flex;
    align-items: center;
}

.logotype {
    margin-right: 76px;
    align-items: center;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.text-color {
    color: #2E2F42;
    }

.menu {
    display: flex;
    gap: 40px;
}

.menu-link {
    display: block;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    padding: 24px 0;
    
}

.menu-link:hover,
.menu-link:focus {
    color: #404BBF;
}

.main-contacts {
    display: flex;
    gap: 40px;
}

.contacts {
    font-style: normal;
    margin-left: auto;
    
}

.contacts-list {
    display: block;
    font-family: Roboto;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding: 24px 0;
}

.contacts-list:hover,
.contacts-list:focus {
    color: #404BBF;
}

/* HERO SECTION */

.hero {
    background: #2E2F42;
    text-align: center;
    padding: 188px 0;
}

.main-title {
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
    max-width: 496px;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #FFF;
    text-align: center;
    
}

.order-service-btn {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 169px;
    height: 56px;
    border: none;
    background: #4D5AE5;
    color: #FFF;
    border-radius: 4px;
    }

.order-service-btn:hover,
.order-service-btn:focus {
    background: #404BBF;
}

/* OUR QUALITY SECTION */

.our-quality {
    padding-top: 120px;
    padding-bottom: 120px;
}

.our-quality-list {
    display: flex;
    gap: 24px;
}

.our-quality-list-item {
    width: calc((100% - 72px) / 4);
}

.section-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;

}

.our-quality-list-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}

.our-quality-list-description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* OUR TEAM SECTION */

.our-team {
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: #F4F4FD;
}

.our-team-list {
    display: flex;
    gap: 24px;
}

.our-team-list-item{
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}

.our-team-section-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    text-align: center;
    margin-bottom: 72px;
}

.our-team-list-container {
    text-align: center;
    padding-top: 32px;
    padding-bottom: 32px;
}

.our-team-list-item {
    background-color: #FFFFFF;
}

.our-team-list-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}

.our-team-list-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}

/* OUR PORTFOLIO SECTION */

.our-portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.our-portfolio-list{
    display: flex;
    flex-wrap:wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.our-portfolio-list-item {
    width: calc((100% - 48px) / 3);
}

.our-portfolio-list-container{
    padding: 0px 16px;
    padding-top: 32px;
    padding-bottom: 32px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.our-portfolio-section-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 72px;
}

.our-portfolio-list-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}

.our-portfolio-list-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* PAGE FOOTER */

.page-footer {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #2E2F42;
}

.footer-logotype {
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    margin-bottom: 16px;
    display: inline-block;
}

.footer-text-color {
    color: #F4F4FD;
}

.footer-text {
    max-width: 264px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}